body{
     background-color: #DAE3F3;
}

.format-nav{
    padding-left: 20px;
    padding-right: 20px;
    
}

div{
    padding:20px;
}

img{
    height: 400px;
}

h2{
    text-align: center;
}

.aci-pillars{
    display: flex;
}