body{
    background-color: #DAE3F3;
}

.format-nav{
    padding-left: 20px;
    padding-right: 20px;
    
}

div{
    padding:10px;
    text-align: justify;
}
.tabs
{
	position: relative;
    clear: both;
}

.tabs .tab
{
	float: left;
	margin-right: 10px;
}

.content
{
	position: absolute;
	background-color: rgb(208, 236, 201);
    width: 40%;
    height: 240px;
    left:50%;
}

.tabs .tab:nth-of-type(1) .content
{
	z-index: 1;
}

.tab:target a
{
	font-weight: bold;
}

.tab:target .content
{
	z-index: 1;
}

img{
    height: 160px;
}