body{
    background-color: black;
}

div{
    font-size: 8pt;
    float: right;
    margin-right: 10px;
}

p{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;   
}

.copyright{
    position: relative;
    top: 50px;
}