body{
    background-color: #DAE3F3;
}

h2{
    text-align: center;
}

.format-nav{
    padding-left: 20px;
    padding-right: 20px;
    
}

.functionality{
    display: flex;
}

div{
    padding:20px;
}

img{
    height: 400px;
}

.image-store{
    height: 200px;
}