body{
    background-color: white;
}

.format-nav{
    padding-left: 20px;
    padding-right: 20px;
    
}

div{
    padding:20px;
    padding-bottom: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
  
li {
    display: inline;
    margin:10px;
}

.title{
    font-size: 20pt;
}

a:link {
    text-decoration: none;
    color: black;
}
.gif{
    height: 45px;
}